body {
    margin: 0;
}

span {
    color: #1C2752;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    color: #1C2752;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#nav-button {
    background: #1C2752;
    display: flex;
    padding: 20px 22px 21px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button.nav-menu {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu-wrapper {
    display: flex;
    width: 1199px;
}

.nav-icon {
    display: flex;
    gap: 14px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1199px;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    width: 850px;
    margin: 0 auto;
    gap: 66px;
}

.top-nav {
    width: 100%;
    background-color: #F2F2F2;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 423px;
    margin: 0 auto;
    padding: 19px 0;
}

.logo-inside img {
    width: 240px;
    height: 45px;
    flex-shrink: 0;
}

.contact {
    display: flex;
    width: 536px;
    justify-content: flex-end;
    align-items: center;
    gap: 68px;
}

.mail {
    display: flex;
    width: 242px;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
}

.call {
    display: flex;
    width: 242px;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
}

.menu {
    display: flex;
    width: 90%;
    background-color: #FFB342;
    margin: 0 auto;
}

.nav-menu {
    display: inline;
    margin: 0 auto;
    padding: 15px;

}

.nav-menu li {
    color: #2F2F2F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p.text-1 {
    margin: 0 0 2px 0;
}

p.text-2 {
    margin: 0;
}

p.text-3 {
    margin: 0;
}

p.text-4 {
    margin: 0;
}

.text-1 {
    color: #1C2752;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-2 {
    color: #7E7E7E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-4 {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#blog {
    color: #1C2752;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub-title {
    background: #F4F4F4;
    display: flex;
    justify-content: center;
}

h1 {
    color: #1C2752;
    text-align: center;
    font-family: Mulish;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.main-title {
    display: flex;
    justify-content: center;
}

.main-blog {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.top-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
}

.inside-top-text-1 {
    background: #FFC368;
    display: flex;
    padding: 20px 29px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inside-top-text-2 {
    background: #FFB342;
    display: flex;
    padding: 21px 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inside-wrapper1 {
    position: relative;
}

.wrapper1 {
    width: 1199px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 25px;
}

.wrapper1 p {
    color: #7E7E7E;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.523%; /* 26.014px */
}

.button {
    background-color: white;
    border: none;
}

.button span {
    color: #1C2752;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1C2752;
    margin: 0 auto;
}

.footer-wrapper li {
    list-style: none;
}

.contact-footer {
    display: flex;
    gap: 60px;
}

.logo-text {
    display: flex;
    gap: 8px;
    
}

.logo-text p {
    color: #FFF;
    font-family: Mulish;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo-mail-address {
    display: flex;
    width: 1199px;
    margin: 0 auto;
}

.logo-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 300px;
    margin: 0 auto;
    padding: 19px 0;
}

.mail-footer {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
}

.call-footer {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
}

.address-footer {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
}

.content {
    display: flex;
    width: 1199px;
}

.main-photo {
    margin-bottom: 50px;
    position: relative;
}

.inside-content {
    display: flex;
    width: 1199px;
    gap: 132px;

}

.about {
    display: flex;
    flex-direction: column;
    width: 415px;
    gap: 60px;
}

.about p {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    line-height: 144.523%; /* 26.014px */
}

.explore li {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 175.023%; /* 31.504px */
    
}

.explore p {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quicklink li {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 175.023%; /* 31.504px */
    
}

.quicklink p {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.utility-pages li {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 175.023%; /* 31.504px */
    
}

.utility-pages p {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.copyrights {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    line-height: 144.523%; /* 26.014px */
}

.about-icons {
    display: flex;
    width: 100px;
    gap: 15px;
}

